<div class="showcase">
    <div class="container showcase-inner">
        <h1>Professional Brief</h1>
        <h3>Mongolian University of Science and Technology: <strong>Bachelor</strong></h3>
        <h3>Stratford University: <strong>Master</strong></h3>
        <h3>UW continuing education: <strong>Python Certificate bootcamp</strong></h3>
        <h3>UW continuing education: <strong>Full-Stack developer bootcamp</strong></h3>
        <h1>Area of Interest</h1>
        <h3>Networking technologies</h3>
        <h3>Software Development</h3>
        <h3>Machine Learning</h3>
    </div>
</div>