<div class="showcase">
    <div class="container showcase-inner">
        <h1>Please reach out to me on linkedin</h1>
        <a href="https://www.linkedin.com/in/toogii-dashdavaa-37851442" target="_blank" class="btn">LINKEDIN</a>
    </div>
</div>