    <div class="showcase">
        <div class="portfolio-container">
            <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/img/pass_gen.gif" alt="password generator app" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Password Generator App</h2>
                    <p>Generates highly secure password</p>
                    <a class="github-link" href="https://github.com/Toogii2019/Password_Generator/"  target="_blank">Github Link</a>
                    <a class="deployed-link" href="https://toogii2019.github.io/Password_Generator/"  target="_blank">Deployed Link</a>

                  </div>
                </div>
              </div>
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/img/code_quiz.gif" alt="code quiz app" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Code Quiz App</h2>
                    <p>Choose between HTML, CSS and Javascript quizes and test your skill</p>
                    <a class="github-link" href="https://github.com/Toogii2019/code_quiz/" target="_blank">Github Link</a>
                    <a class="deployed-link" href="https://toogii2019.github.io/code_quiz/"  target="_blank">Deployed Link</a>

                  </div>
                </div>
              </div>
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/img/triply.gif" alt="triply app" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Trip Advisor App</h2>
                    <p>Helps planning your trip</p>
                    <a class="github-link" href="https://github.com/Toogii2019/Project1/" target="_blank">Github Link</a>
                    <a class="deployed-link" href="https://toogii2019.github.io/Project1/"  target="_blank">Deployed Link</a>

                  </div>
                </div>
              </div>
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/img/weather_dashboard.gif" alt="weather dashboard app" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Weather dashboard app</h2>
                    <p>Shows weather information on selected location</p>
                    <a class="github-link" href="https://github.com/Toogii2019/weather_dashboard/" target="_blank">Github Link</a>
                    <a class="deployed-link" href="https://toogii2019.github.io/weather_dashboard/"  target="_blank">Deployed Link</a>
                  </div>
                </div>
              </div>

              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/img/work_day_planner.gif" alt="Business Day Planner app" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Business Day Planner app</h2>
                    <p>Helps organize business day hourly plan</p>
                    <a class="github-link" href="https://github.com/Toogii2019/day_planner/" target="_blank">Github Link</a>
                    <a class="deployed-link" href="https://toogii2019.github.io/day_planner/"  target="_blank">Deployed Link</a>
                  </div>
                </div>
              </div>


              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/img/note_taker.gif" alt="Note Taker App" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Business Day Planner app</h2>
                    <p>Helps organize business day hourly plan</p>
                    <a class="github-link" href="https://github.com/Toogii2019/note_taker/" target="_blank">Github Link</a>
                    <a class="deployed-link" href="https://dry-ocean-49147.herokuapp.com/notes"  target="_blank">Deployed Link</a>
                  </div>
                </div>
              </div>
            
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/img/hounted_house.gif" alt="Vitrual Halloween App" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Halloween virtual activity app</h2>
                    <p>Allows users to have fun during pandemic online</p>
                    <a class="github-link" href="https://github.com/Toogii2019/Project2_repo/" target="_blank">Github Link</a>
                    <a class="deployed-link" href="https://insanecoolapp.herokuapp.com/notes"  target="_blank">Deployed Link</a>
                  </div>
                </div>
              </div>
        </div>
    </div>