* {
    font-family: Indie Flower, sans-serif;
}

.menu {
    background: var(--primary-color);
    /* padding: 30px; */
}

ul > li {
    display: inline-block;
    padding: 0 50px 0 0 ;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    text-decoration: none;
    color: black;
}